body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bolder;
	/*image credit: http://upload.wikimedia.org/wikipedia/commons/4/4f/Summit-lake-wv-night-sky-reflection_-_West_Virginia_-_ForestWander.jpg*/
	background:url(../images/night.jpg) no-repeat center center fixed; 
	background-size: cover;
	color:white;
	font-size: 110%;
	width:75%;
	margin:auto;
}

#haiku {
	float:right;
}

#line1, #line3 {
	width:400px;
	height: 50px;
	background-color: white;
	border-radius: 15px;
	display: inline-block;
	margin: 10px 10px 0px 0px;
}

#first, #third {
	width: 380px;
}

#line2 {
	width: 560px;
	height: 50px;
	background-color: white;
	border-radius: 15px;
	display: inline-block;
	margin: 10px 10px 0px 0px;
}

#second {
	width: 540px;
}

#accordion {
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color: purple;
}

.draggable {
	border: black 1px solid;
	color:#660066;
	width: auto;
	border-radius: 8px;
	padding: 5px;
	margin: 1px;
	display: -webkit-inline-box;
}
	
.draggable:hover {
	cursor: pointer;
}

.droppable
{
	height: 30px;
	background-color: white;
	border-radius: 15px;
	display: inline-block;
	margin: 10px 10px 0px 0px;
}

button {
	font-weight: bolder;
	font-size:120%;
	color: #555555;
	border-radius: 10px;
}

.ui-accordion-header {
	font-weight: bolder;
}

.instructions {
	font-weight: normal;
	font-size: 80%;
}

#trash { 
	height: 100px;
	background-color: transparent;
}

#clear {
	margin: 30px;
	vertical-align: top;
}

.check {
	padding: 5px 5px 0px 5px;
	display: none;
}

.ui-accordion .ui-accordion-content{
	padding: 10px;
	text-align: left;
}